# Datasets (demasiado grandes para GitHub)
/creditcard.csv
superconductivty+data/
fashion-mnist-master/
*.idx3-ubyte
*.idx1-ubyte

# Archivos generados
*.docx
*.pptx
*.pdf

# Python
__pycache__/
*.py[cod]
*.egg-info/
.env
venv/
.venv/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db
